@font-face {
  font-family: gravelo;
  src: url(assets/font/Gravelo.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto 5%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  overflow: hidden;
}

video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: background-animation 2s ease-in;
}

@keyframes background-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  grid-area: header;
  animation: background-animation 2s ease-in;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  font-family: gravelo;
  letter-spacing: 1px;
}

.left-side {
  margin-left: 30px;
}

.right-side {
  margin-right: 30px;
  display: flex;
  gap: 20px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

main {
  grid-area: main;
  animation: background-animation 2s ease-in;
}

footer {
  grid-area: footer;
  animation: background-animation 2s ease-in;

}
