@font-face {
  font-family: dirtyline;
  src: url(/assets/font/Dirtyline.otf);
}
@font-face {
  font-family: gravelo;
  src: url(/assets/font/Gravelo.otf);
}
@font-face {
  font-family: roboto;
  src: url(/assets/font/Roboto.ttf);
}

@font-face {
  font-family: amoreChristmas;
  src: url(/assets/font/Amore\ Christmas.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  display: grid;
}

/* Background Video */
.background-video{
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: background-animation 2s ease-in-out;
}

@keyframes background-animation {
0%{
  opacity: 0;
  filter: blur(10px);
}
50%{
  opacity: 0.5;
  filter: blur(5px);
}
100%{
opacity: 1;
filter: blur(0);
}
}

/* header and nav */
header {
  grid-area: header;
}

nav {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
}

nav a {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  font-family: gravelo;
  letter-spacing: 1px;
}

/* open page */
.left-side {
  margin-left: 30px;
}

/* unopen page */
.right-side {
  margin-right: 30px;
  display: flex;
  gap: 10px;
}

/* nav anchor tag hover effect */
nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* main */
main {
  grid-area: main;
}


