@font-face {
  font-family: amoreChristmas;
  src: url(/assets/font/Amore\ Christmas.otf);
}

@font-face {
  font-family: dirtyline;
  src: url(/assets/font/Dirtyline.otf);
}

@font-face {
  font-family: gravelo;
  src: url(/assets/font/Gravelo.otf);
}

nav a {
  color: black;
  font-family: gravelo;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: black;
}

form {
  width: 60%;
  height: 80%;
}

fieldset {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-top: 5px solid black;
}

legend {
  font-size: 5em;
  text-align: center;
  font-family: dirtyline;
  text-transform: uppercase;
  margin-bottom: 50px;
}

::placeholder {
  color: black;
  opacity: 0.4;
}

.input-text,
.input-textarea,
.input-submit {
  width: 80%;
  height: 10%;
  font-family: amoreChristmas;
  font-size: 3em;
  padding-top: 7px;
  padding-left: 20px;
  border: 0px solid black;
  color: black;
  letter-spacing: 1px;
  background-color: transparent;
  border-bottom: 1px solid black;
}

input:focus, .input-textarea:focus {
  outline: none;
}

.input-textarea {
  height: 50%;
  padding-top: 10px;
}

.input-submit {
  color: black;
  font-family: gravelo;
  padding-top: 5px;
  border: 0px;
  transition: all 0.6s ease-in-out;
}

.input-submit:hover {
  letter-spacing: 3px;
  color: white;
  background-color: black;
  transition: all 0.6s ease-in-out;
}
