nav,
main {
  background-color: #0f172a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
}

form {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-top: 5px solid var(--color-text);
}

legend {
  font-size: 5em;
  text-align: center;
  font-family: dirtyline;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #d4af37;
}

::placeholder {
  color: var(--color-text);
}

.input-text,
.input-textarea,
.input-submit {
  width: 50%;
  height: 10%;
  font-family: var(--font-fancy);
  font-size: 1.5em;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 10px;
  color: var(--color-text);
  letter-spacing: 1px;
  background-color: transparent;
}

.input-text {
  border: 1px solid #f1e9d2;
}

input:focus,
.input-textarea:focus {
  outline: none;
}

input:hover,
.input-textarea:hover {
  transform: scale(1.01);
}

.input-textarea {
  height: 50%;
  padding-top: 10px;
  border: 0.5px solid #f1e9d2;
}

.input-submit {
  font-size: 2em;
  color: var(--color-text);
  font-family: var(--font-heading);
  padding-top: 5px;
  border: 0px;
  letter-spacing: 0.5px;
  border: 1px solid #f1e9d2;
  background-color: #485c8c7a;
  color: white;
  transition: all 0.6s ease-in-out;
}

.input-submit:hover {
  letter-spacing: 4px;
  color: var(--color-text);
  background-color: #485c8c;
  transition: all 0.6s ease-in-out;
}

.socalMediaLink {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 40px;
}
.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  form {
    width: 90%;
    padding-top: 50px;
  }

  legend {
    margin-bottom: 0px;
    font-size: 3em;
  }

  .input-text,
  .input-textarea,
  .input-submit {
    width: 100%;
    font-size: 1em;
  }

  .input-submit {
    font-size: 1.5em;
  }
  .input-submit:hover {
    letter-spacing: normal;
    transition: none;
  }
  .input-textarea {
    height: 30%;
  }
  ::placeholder {
    opacity: 0.6;
  }
}
