body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto;
  grid-template-areas:
    "header header header"
    "main main main";
}

.background-video {
  opacity: 0.8;
  animation: none;
  transform: rotate(180deg);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: black;
}

form {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-top: 5px solid black;
}

legend {
  font-size: 5em;
  text-align: center;
  font-family: dirtyline;
  text-transform: uppercase;
  margin-bottom: 50px;
}

::placeholder {
  color: black;
  opacity: 0.3;
}

.input-text,
.input-textarea,
.input-submit {
  width: 80%;
  height: 11%;
  font-family: amoreChristmas;
  font-size: 3em;
  padding-top: 7px;
  padding-left: 20px;
  border: 0px solid black;
  color: black;
  letter-spacing: 1px;
  background-color: transparent;
  border-bottom: 1px solid black;
}

input:focus,
.input-textarea:focus {
  outline: none;
}

.input-textarea {
  height: 50%;
  padding-top: 10px;
}

.input-submit {
  color: black;
  font-family: gravelo;
  padding-top: 5px;
  border: 0px;
  letter-spacing: 0.5px;
  transition: all 0.6s ease-in-out;
}

.input-submit:hover {
  letter-spacing: 2px;
  color: white;
  background-color: rgb(33, 71, 182);
  transition: all 0.6s ease-in-out;
}

@media (max-width: 768px) {
  form {
    width: 90%;
    height: 90%;
  }

  fieldset {
    width: 50%;
  }

  legend {
    font-size: 3em;
  }

  .input-text,
  .input-textarea,
  .input-submit {
    width: 100%;
    font-size: 1em;
  }

  .input-submit {
    font-size: 1.5em;
  }
  .input-submit:hover {
    letter-spacing: normal;
    transition: none;
  }
  .input-textarea {
    height: 30%;
  }
  ::placeholder {
    opacity: 0.6;
  }
}
