body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto;
  grid-template-areas:
    "header header header"
    "main main main";
}

nav{
 background-color: #0f172a;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--color-text);
  background-color: #0f172a;
}

form {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-top: 5px solid var(--color-text);
}

legend {
  font-size: 5em;
  text-align: center;
  font-family: dirtyline;
  text-transform: uppercase;
  margin-bottom: 50px;
}

::placeholder {
  color: var(--color-text);
}

.input-text,
.input-textarea,
.input-submit {
  width: 50%;
  height: 11%;
  font-family: var(--font-fancy);
  font-size: 1.5em;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 10px;
  border: 0px solid var(--color-bg);
  color: var(--color-text);
  letter-spacing: 1px;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.input-text {
  border: 0.5px solid var(--color-text);
}

#name-input {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

input:focus,
.input-textarea:focus {
  outline: none;
}

.input-textarea {
  height: 50%;
  padding-top: 10px;
  border: 0.5px solid var(--color-text);
}

.input-submit {
  font-size: 2em;
  color: var(--color-text);
  font-family: var(--font-heading);
  padding-top: 5px;
  border: 0px;
  letter-spacing: 0.5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: all 0.6s ease-in-out;
}

.input-submit:hover {
  letter-spacing: 4px;
  color: var(--color-text);
  background-color: #485c8c;
  transition: all 0.6s ease-in-out;
}

@media (max-width: 768px) {
  form {
    width: 90%;
    height: 90%;
    padding-top: 50px;
  }

  legend {
    margin-bottom: 0px;
    font-size: 3em;
  }

  .input-text,
  .input-textarea,
  .input-submit {
    width: 100%;
    font-size: 1em;
  }

  .input-submit {
    font-size: 1.5em;
  }
  .input-submit:hover {
    letter-spacing: normal;
    transition: none;
  }
  .input-textarea {
    height: 30%;
  }
  ::placeholder {
    opacity: 0.6;
  }
}
