body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "header header header"
    "main main main";
  overflow: hidden;
  max-width: 100vw;
}

.background-video {
  opacity: 0.2;
  animation: none;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.demo-video {
  width: 90%;
  height: 90%;
  background-color: red;
  opacity: 1;
  z-index: 10;
  object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.18));
}

.video-topic {
  font-family: dirtyline;
  text-transform: lowercase;
  font-size: 2em;
  z-index: 20;
  opacity: 0.7;
  position: relative;
  bottom: -6%;
  right: 27%;
  transition: all 0.3s ease-in-out;
}

.demo-video:hover + .video-topic {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  main {
    gap: 30px;
  }
  .demo-video {
    height: 50%;
    width: 90%;
    border-radius: 0;
  }

  .video-topic {
    position: inherit;
    opacity: 1;
    transition: none;
  }

  .demo-video:hover + .video-topic{
    opacity: 1;
    transition: none;
  }
}
