body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "header header header"
    "main main main";
  overflow: hidden;
}

.background-video {
  opacity: 0.2;
  animation: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-content {
  width: 90%;
  height: 90%;
}

.video-section {
  background-color: black;
  height: 90%;
  margin-bottom: 10px;
}

.demo-video {
  width: 100%;
  height: 100%;
  z-index: 10;
  object-fit: cover;
 
}

.demo-video {
  filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  animation: dropShadow-animation 5s ease-in-out infinite alternate;
}

@keyframes dropShadow-animation {
  to {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
  }
}

.videoTitle-section {
  height: 5%;
}

.video-title {
  font-family: dirtyline;
  text-transform: lowercase;
  text-align: center;
  font-size: 2em;
  z-index: 20;
}

.video-link {
  width: 100%;
  height: 5%;
  text-align: center;
}
.video-link a {
  display: inline;
  font-size: 1.2em;
  color: white;
  font-family: dirtyline;
  padding: 8px;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.video-link a:first-child {
  background-color: rgba(255, 0, 0, 0.5);
}
.video-link a:last-child {
  background-color: rgba(0, 0, 255, 0.5);
}

.video-link a:first-child:hover {
  background-color: red;
  transition: all 0.3s ease-in-out;
}
.video-link a:last-child:hover {
  background-color: blue;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .video-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-section {
    height: 50%;
  }

  .videoTitle-section {
    height: 5%;
  }
  .video-title {
    font-size: 1.2em;
    text-align: center;
    padding-top: 5px;
  }

  .video-link {
    height: 5%;
    text-align: center;
    padding-top: 10px;
  }

  .video-link a {
    font-size: 1em;
  }
}
