body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "header header header"
    "main main main";
  overflow: hidden;
}

.background-video {
  opacity: 0.2;
  animation: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-section h2 {
  width: 100%;
  font-size: 2em;
  text-align: right;
  font-family: var(--font-display);
}

.video-section {
  background-color: var(--color-bg);
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo-video {
  width: 100%;
  height: 100%;
  z-index: 10;
  border: none;
  object-fit: cover;
}

.demo-video {
  animation: dropShadow-animation 3s ease-in-out infinite alternate;
}

@keyframes dropShadow-animation {
  to {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
  }
}

.videoTitle-section {
  height: 5%;
  display: flex;
}
.videoTitle-section h3 {
  font-family: var(--font-display);
  text-transform: lowercase;
  text-align: center;
  font-size: 2em;
  z-index: 20;
}

.video-title {
  font-family: var(--font-display);
  text-transform: lowercase;
  text-align: center;
  font-size: 2em;
  z-index: 20;
  padding-left: 10px;
}

.video-link {
  width: 100%;
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-link a {
  display: inline;
  font-size: 1.2em;
  color: var(--color-text);
  font-family: var(--font-display);
  padding: 8px;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.video-link a{
  background-color: rgba(0, 0, 255, 0.5);
  margin-left: 5px;
}

.video-link a:hover {
  background-color: red;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .video-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-section {
    height: 50%;
  }

  .videoTitle-section {
    height: 10%;
    flex-direction: column;
  }
  .videoTitle-section h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
  }
  .video-title {
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
  }

  .video-link {
    height: 5%;
    text-align: center;
    padding-top: 10px;
  }

  .video-link a {
    font-size: 1em;
  }
}
