@font-face {
  font-family: amoreChristmas;
  src: url(/assets/font/Amore\ Christmas.otf);
}

video {
  opacity: 0.3;
  animation: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 0;
}

.demo-video {
  width: 85%;
  height: auto;
  background-color: black;
  opacity: 1;
  z-index: 10;
  border-radius: 25px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.098);
}

.text {
font-family: amoreChristmas;
text-transform: lowercase;
  font-size: 3em;
  z-index: 20;
    letter-spacing: 1px;
  opacity: 0.7;
  transition: all 0.7s ease-in-out;
}

.demo-video:hover + .text {
  letter-spacing: 1.2px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
