
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

video{
    height: 90%;
    width: 95%;
    object-fit: cover;
    box-shadow: 0 0 30px black;
}

.videoInfo{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.videoInfo h1{
    font-size: 3em;
}

.videoInfo p{
    font-size: 1.2em;
}