nav a:first-child{
    opacity: 1;
    font-size: 5em;
}

.home-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p{
    font-family: gravelo;
    font-size: 20em;
    animation: fontCase 4s ease-in-out infinite;
}

section p:nth-child(2){
    margin-top: -100px;
}

@keyframes fontCase {
    from{
        text-transform: lowercase;
    }
    to{
        text-transform: uppercase;
    }
}