@font-face {
  font-family: dirtyline;
  src: url(/assets/font/Dirtyline.otf);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
}

.main-text p {
  font-family: gravelo;
  font-size: 15em;
  text-transform: uppercase;
}

.main-text p:first-child {
  margin-top: 100px;
}

.main-text p:nth-child(2) {
  margin-top: -100px;
  margin-bottom: -30px;
}

.text {
  font-family: dirtyline;
  position: relative;
  bottom: 2%;
  background-color: orange;
}

.text p {
  font-size: 4em;
  padding: 10px 20px;
  margin-top: 5px;
  text-transform: uppercase;
}

.divider {
  margin-bottom: 15px;
  width: 55%;
  border: 0.5px solid hsl(39, 100%, 50%, 0.3);
}

.quoto {
  cursor: default;
}

.quoto p {
  font-size: 2em;
  font-family: dirtyline;
  font-style: italic;
}

.quoto p:hover {
  opacity: 0.5;
}

.quoto p:hover + .box {
  opacity: 1;
  transform: translateY(0);
}

.box {
  width: 100px;
  height: 100px;
  justify-self: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.box img {
  width: 200px;
  position: relative;
  bottom: 150%;
  border-radius: 20px;
}
