body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto 5%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  overflow: hidden;
}

.background-video {
  opacity: 0.8;
  animation: none;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main container */
.container {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
}

/* main container name-section, sagar nepali */
.name-section {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.name-section p {
  width: 100%;
  height: auto;
  font-family: gravelo;
  font-size: 10em;
  text-align: center;
  transform: scale(1.5);
}

/* main container text-case */
.text-case {
  width: 100%;
  height: 15%;
  font-family: dirtyline;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.text-case p {
  height: 100%;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  opacity: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-case p:first-child {
  width: 10%;
}
.text-case p:nth-child(2) {
  width: 50%;
}
.text-case p:last-child {
  width: 10%;
}
.text-case p:hover {
  text-transform: lowercase;
  background-image: linear-gradient(to top, wheat, white);
}

/* main container quoto */
.quoto {
  cursor: default;
  width: 100%;
  height: 10%;
}

.quoto p {
  padding-top: 20px;
  height: 100%;
  font-size: 1.1em;
  font-family: dirtyline;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quoto p:hover {
  opacity: 0.5;
}

/* main container quoto-hover-box */
.quoto-hover-box {
  justify-self: center;
  opacity: 0;
  transform: translateY(50px);
  position: relative;
  bottom: 50%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.quoto p:hover + .quoto-hover-box {
  opacity: 1;
  transform: translateY(0);
}

/* footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}

.about-me {
  font-family: gravelo;
  font-size: 1.3em;
  margin-right: 30px;
  cursor: default;
  opacity: 0.5;
}

/* about me  */
.about-me-text {
  font-family: roboto;
  font-size: 1em;
  text-align: right;
  width: 740px;
  height: auto;
  position: relative;
  bottom: 50px;
  right: -2%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.about-me:hover {
  opacity: 1;
}

.about-me:hover + .about-me-text {
  opacity: 0.5;
}

@media (max-width: 1249px) {
  .name-section p {
    font-size: 7em;
  }
  .text-case p {
    width: 50%;
    font-size: 1.2em;
  }
  .quoto p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  html {
    overflow: hidden;
  }
  .container {
    width: 100%;
    height: 50%;
  }
  .name-section {
    justify-content: center;
    padding-top: 50px;
  }
  .name-section p {
    font-size: 4em;
  }

  .text-case p {
    font-size: 0.8em;
    text-transform: lowercase;
  }
  .text-case p:first-child {
    width: 10%;
  }
  .text-case p:nth-child(2) {
    width: 40%;
  }
  .text-case p:last-child {
    width: 10%;
  }

  .text-case p:hover {
    transition: none;
  }

  .quoto {
    height: 20%;
    width: 100%;
  }

  .quoto p {
    width: 100%;
    font-size: 0.5em;
    opacity: 0.7;
    text-align: center;
  }

  .quoto-hover-box {
    opacity: 1;
    transform: translateY(-10px);
    transition: none;
  }
  .quoto p:hover + .quoto-hover-box {
    opacity: 1;
    transform: translateY(-15px);
  }

  .about-me {
    visibility: hidden;
  }

  .about-me-text {
    font-size: 0.7em;
    bottom: 60px;
    right: -30px;
    opacity: 0.8;
    text-align: left;
  }
}
