@font-face {
  font-family: dirtyline;
  src: url(/assets/font/Dirtyline.otf);
}

body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto 5%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
}

.main-text p {
  font-family: gravelo;
  font-size: 15em;
  text-transform: uppercase;
}

.main-text p:first-child {
  margin-top: 100px;
}

.main-text p:nth-child(2) {
  margin-top: -100px;
  margin-bottom: -30px;
}

.text {
  font-family: dirtyline;
  position: relative;
  bottom: 20px;
  background-color: orange;
}

.text p {
  font-size: 4em;
  padding: 10px 20px;
  margin-top: 5px;
  text-transform: uppercase;
}

.divider {
  margin-bottom: 15px;
  width: 55%;
  border: 0.5px solid hsl(39, 100%, 50%, 0.3);
}

.quoto {
  cursor: default;
}

.quoto p {
  font-size: 2em;
  font-family: dirtyline;
  font-style: italic;
}

.quoto p:hover {
  opacity: 0.2;
}

.quoto p:hover + .box {
  opacity: 1;
  transform: translateY(0);
}

.box {
  width: 300px;
  justify-self: center;
  opacity: 0;
  color: white;
  font-size: 1.5em;
  transform: translateY(50px);
  position: relative;
  bottom: 45%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.box p {
  text-align: center;
  font-size: 1em;
  padding: 15px;
  text-transform: lowercase;
  border-radius: 20px;
}

footer {
  grid-area: footer;
  animation: background-animation 2s ease-in;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}

.about-me {
  font-family: gravelo;
  font-size: 1.5em;
  margin-right: 30px;
  cursor: default;
  opacity: 0.5;
  z-index: 2;
  position: relative;
}

.about-me-text {
  font-family: gravelo;
  font-size: 1.5em;
  width: 630px;
  height: 430px;
  position: relative;
  bottom: 530px;
  padding: 20px 30px;
  pointer-events: none;
  letter-spacing: 2px;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.8s ease-in-out;
}

.about-me:hover {
  opacity: 1;
}

.about-me:hover + .about-me-text {
  opacity: 1;
}

.cursive-letter {
  font-size: 1.7em;
  text-transform: uppercase;
}

.bg-text {
  font-size: 1.6em;
  padding: 7px;
  text-transform: uppercase;
  font-family: dirtyline;
  background-color: rgb(247, 180, 12);
  color: black;
}
