body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto 5%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  overflow: hidden;
}

.background-video {
  opacity: 0.4;
  animation: none;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* main container */
.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main container name-section, sagar nepali */
.name-section {
  width: 50%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.name-section p {
  font-family: gravelo;
  font-size: 17em;
  text-transform: uppercase;
  line-height: 0.8;
}
.name-section p:first-child {
  margin-top: 60px;
}

/* main container text-case */
.text-case {
  width: 40%;
  height: 10%;
  font-family: dirtyline;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-case p {
  width: 50%;
  height: 100%;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  opacity: 0.9;
  border-radius: 2px;
}

.text-case p:first-child {
  background-color: firebrick;
}
.text-case p:nth-child(2) {
  background-color: royalblue;
}
.text-case p:hover {
  text-transform: lowercase;
}

/* main container quoto */
.quoto {
  cursor: default;
  width: 50%;
  height: 10%;

}

.quoto p {
  padding-top: 20px;
  height: 100%;
  font-size: 1.7em;
  font-family: dirtyline;
  text-align: center;
}

.quoto p:hover {
  opacity: 0.2;
}

/* main container quoto-hover-box */
.quoto-hover-box {
  justify-self: center;
  opacity: 0;
  color: white;
  font-size: 1.5em;
  transform: translateY(50px);
  position: relative;
  bottom: 45%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.quoto-hover-box p {
  text-align: center;
  font-size: 1em;
  padding: 15px;
  text-transform: lowercase;
  border-radius: 20px;
}

.quoto p:hover + .quoto-hover-box {
  opacity: 0.8;
  transform: translateY(0);
}

/* footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}

.about-me {
  font-family: gravelo;
  font-size: 1.3em;
  margin-right: 30px;
  cursor: default;
  opacity: 0.5;
}

/* about me  */
.about-me-text {
  font-family: roboto;
  font-size: 1.5em;
  text-align: right;
  width: 740px;
  height: auto;
  position: relative;
  bottom: 100px;
  right: -2%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.about-me:hover {
  opacity: 1;
}

.about-me:hover + .about-me-text {
  opacity: 0.8;
}
