body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "header header header"
    "main main main";
  overflow: hidden;
  max-width: 100vw;
}

.background-video {
  opacity: 0.2;
  animation: none;
}

/* Main */
main {
  display: flex;
}

/* three major project highlist */
.project-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  overflow: hidden;
}

.project01,
.project02,
.project03 {
  width: 30%;
  height: 90%;
  text-align: center;
  scale: 0.9;
  background-color: black;
  border-radius: 25px;
  transition: all 1s ease-in-out;
  animation: bottom_to_origin 2s ease-in-out;
}

.project02:hover {
  scale: 1;
  filter: drop-shadow(0 0 10px red);
  transition: all 1s ease-in-out;
}

.project01 {
  transform: rotateY(7deg);
  transition: all 1s ease-in-out;
}
.project01:hover {
  scale: 1;
  filter: drop-shadow(0 0 10px blue);
  transform: rotateY(3deg);
  transition: all 1s ease-in-out;
}

.project03 {
  transform: rotateY(-7deg);
  transition: all 1s ease-in-out;
}
.project03:hover {
  scale: 1;
  filter: drop-shadow(0 0 10px green);
  transform: rotateY(-3deg);
  transition: all 1s ease-in-out;
}

.project01 img,
.project02 img,
.project03 img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 25px;
  object-fit: cover;
  filter: blur(12px);
  transition: all 1s ease-in-out;
}

.project01:hover img,
.project02:hover img,
.project03:hover img {
  opacity: 1;
  filter: blur(0);
}

.project01 p,
.project02 p,
.project03 p {
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(5);
  font-size: 1em;
  opacity: 0.7;
  margin: 0;
  font-family: dirtyline;
  z-index: 2;
  animation: bottom_to_origin 3s ease-in-out;
}

@keyframes bottom_to_origin {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    bottom: 50%;
  }
}

.project01 img:hover + p,
.project02 img:hover + p,
.project03 img:hover + p {
  opacity: 0;
  transition: all 1s ease-in-out;
}

@media (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    overflow: scroll;
    scroll-behavior: smooth;
    height: 220%;
  }

  nav {
    background-color: black;
  }
  .project-list {
    flex-direction: column;
    height: 100%;
  }

  .project01,
  .project02,
  .project03 {
    width: 80%;
    height: auto;
    transform: rotateY(0deg);
  }

  .project01:hover,
  .project02:hover,
  .project03:hover {
    transform: rotateY(0deg);
  }
  .project01 {
    filter: drop-shadow(0 0 15px rgb(30, 30, 244));
  }
  .project02 {
    filter: drop-shadow(0 0 15px rgb(251, 42, 42));
  }
  .project03 {
    filter: drop-shadow(0 0 15px rgb(45, 249, 45));
  }

  .project01 img,
  .project02 img,
  .project03 img {
    filter: blur(0);
    opacity: 0.9;
  }

  .project01 p,
  .project02 p,
  .project03 p {
    font-size: 0.5em;
    opacity: 1;
    animation-duration: 1s;
  }
}
