@font-face {
  font-family: dirtyline;
  src: url(/assets/font/Dirtyline.otf);
}

.project-heading {
  z-index: 100;
  position: relative;
  left: 47.5%;
  top: 40%;
  transform: scale(10);
  width: 5%;
  text-align: center;
  font-family: dirtyline;
  animation: heading-ani 5s ease-in-out forwards;
}

@keyframes heading-ani {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-project {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  perspective: 500px;
}

.project01 img,
.project02 img,
.project03 img {
  opacity: 0.4;
  filter: blur(20px);
  transition: all 1.5s ease-in-out;
}

.project01:hover img,
.project02:hover img,
.project03:hover img {
  opacity: 1;
  filter: blur(0);
}

.project01,
.project02,
.project03 {
  width: 30%;
  height: 85%;
  scale: 0.9;
  text-align: center;
  transition: all 1.5s ease-in-out;
  position: relative;
}

.project01 p,
.project02 p,
.project03 p {
  position: absolute;
  bottom: -0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(10);
  opacity: 0.5;
  margin: 0;
  pointer-events: none;
  font-family: dirtyline;
  z-index: 2;
}

.project01 {
  transform: rotateY(6deg);
}

.project03 {
  transform: rotateY(-6deg);
}

.project01:hover,
.project02:hover,
.project03:hover {
  scale: 1;
  opacity: 1;
  filter: blur(0px);
  transition: all 1.5s ease-in-out;
}

.main-project section img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
