@font-face {
  font-family: dirtyline;
  src: url(/assets/font/Dirtyline.otf);
}

.project-heading{
  z-index: 100;
  position: relative;
  left: 44%;
  top: 40%;
  scale: 13;
  width: 4%;
  font-family: dirtyline;
  animation: heading-ani 5s ease-in-out forwards;
}

@keyframes heading-ani {
  to{
    opacity: 0;
    visibility: hidden;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-project {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  perspective: 500px;
}

.project01,
.project02,
.project03 {
  width: 30%;
  height: 85%;
  scale: 0.9;
  opacity: 0.6;
  filter: blur(20px);
  text-align: center;
  transition: all 1.5s ease-in-out;
}

.project01 p,
.project02 p,
.project03 p{
  font-family: dirtyline;
  scale: 10;
  opacity: 1;
} 

.project01 {
  transform: rotateY(6deg);
}

.project03 {
  transform: rotateY(-6deg);
}

.project01:hover,
.project02:hover,
.project03:hover {
  scale: 1;
  opacity: 1;
  filter: blur(0px);
  transition: all 1.5s ease-in-out;
  
}

.main-project section img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
 
}

