main {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-project {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  perspective: 500px;
}

.project01,
.project02,
.project03 {
  width: 30%;
  height: 85%;
  scale: 0.9;
  opacity: 0.4;
  filter: blur(20px);
  transition: all 1.5s ease-in-out;
}

.project01 {
  transform: rotateY(-6deg);
}

.project03 {
  transform: rotateY(6deg);
}

.project01:hover,
.project02:hover,
.project03:hover {
  scale: 1;
  opacity: 1;
  filter: blur(0px);
  transform: rotateY(0);
  transition: all 1.5s ease-in-out;
  
}

.main-project section img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
 
}

