html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  display: grid;
  gap: 100px;
}

nav {
  background-color: black;
}

.project-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  padding: 50px 0;
}

.project-list section:first-child {
  margin-top: 50px;
}
.project-list section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-list section a {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-list section h3 {
  font-size: 3em;
  font-family: dirtyline;
  background-image: linear-gradient(
    to top,
    var(--color-muted),
    var(--color-text)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-list section img {
  width: 80%;
  max-width: 800px;
  height: auto;
  filter: blur(5px);
  opacity: 0.8;
  transition: all 0.3s ease;
}
.project-list section img:hover {
  filter: blur(0);
  opacity: 1;
}
.project-list section :hover {
  transition: all 0.2s ease-in-out;
}
.project01:hover {
  filter: drop-shadow(0 0 20px blue);
}

.project02:hover {
  filter: drop-shadow(0 0 20px red);
}

.project03:hover {
  filter: drop-shadow(0 0 20px green);
}

.project04:hover {
  filter: drop-shadow(0 0 20px rgb(45, 239, 249));
}

@media (max-width: 768px) {
  .project-list {
    gap: 50px;
    padding: 30px 10px;
  }
  .project-list section a {
    width: 90%;
  }

  .project-list section img {
    width: 100%;
    max-width: 100%;
    filter: blur(0px);
    opacity: 1;
  }

  .project01 {
    filter: drop-shadow(0 0 15px rgb(30, 30, 244));
  }
  .project02 {
    filter: drop-shadow(0 0 15px rgb(251, 42, 42));
  }
  .project03 {
    filter: drop-shadow(0 0 15px rgb(45, 249, 45));
  }
  .project04 {
    filter: drop-shadow(0 0 15px rgb(45, 239, 249));
  }

  .project-list section img {
    filter: blur(0);
  }

  .project-list section h3 {
    font-size: 2em;
  }
}
