body{
    height: 200%;
    overflow: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: start;
}

.side-bar{
    height: 100%;
    width: 20%;
    background-color: rgb(108, 107, 107);
    position: fixed;
    left: 0;
}

.content{
    height: 100%;
    width: 80%;
    background-color: olive;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
}

.content section{
    width: 100%;
    height: 30%;
}

.content1{
    background-color: red;
}

.content2{
    background-color: gold;
}

.content3{
    background-color: blue;
}