@font-face {
  font-family: roboto;
  src: url(/assets/font/Roboto.ttf);
}

html {
  scroll-padding-top: 250px;
  scroll-behavior: smooth;
  font-family: roboto;
}

body {
  height: 200%;
  overflow: auto;
}

video{
  opacity: 0.3;
  animation: none;
}

header {
  animation-duration: 1s;
}

nav {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  animation-duration: 1s;
}

/* content */

.content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 150px;
  background-color: rgba(35, 35, 35, 0.446);
  background-color: transparent;
  border-radius: 9px;
  padding: 20px;
}

.content-title {
  width: 100%;
  height: 3%;
  margin-bottom: 40px;
}

.content-title h1 {
  font-size: 5em;
  height: 100%;
}

.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px;
  padding: 20px 20px 10px 0px;
}

.content-heading {
  width: 100%;
  font-size: 2em;
}

.content-text {
  font-size: 1.2em;
  line-height: 1.5;
}

/* sidebar */

.side-bar {
  position: fixed;
  width: 260px;
  height: auto;
  right: 55px;
  top: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-title {
  padding: 6px;
}
.side-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.side-bar ul li {
  list-style: none;
  padding: 6px;
  width: 100%;
}

.side-bar ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}

.side-bar ul li a:hover {
  opacity: 1;
  font-size: 1.01em;
  transition: all 0.2s ease-in-out;
}

/* side left */

.side-space-left {
  position: fixed;
  width: 330px;
  height: 875px;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.side-space-left p {
  transform: rotate(-90deg);
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 35%;
  top: 10%;
  text-transform: uppercase;
}
.side-space-left p:first-child {
  width: 90%;
  height: 6%;
}
.side-space-left p:nth-child(2) {
  width: 150%;
  height: auto;
}