html {
  scroll-padding-top: 250px;
  scroll-behavior: smooth;
  font-family: var(--font-body);
}

nav {
  background-color: var(--color-bg);
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* content */

.content-title {
  width: 50%;
  height: auto;
  padding-left: 15px;
}

.content-title h1 {
  font-size: 5em;
  font-weight: bolder;
  margin-top: 100px;
  color: black;
  background-color: white;
}

.content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7,
.content8,
.content9 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px;
  padding: 20px 20px 10px 0px;
}

.content-heading {
  width: 100%;
  font-size: 2em;
  font-weight: bolder;
}

.content-text {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: lighter;
}

.pageUI {
  text-align: center;
  margin-top: 20px;
  margin-top: 40px;
}
.pageImg img:first-child {
  width: 70%;
}

.pageImg img:nth-child(2) {
  width: 21%;
}

.pageImg img:last-child {
  width: 91.5%;
}

.pageUI p {
  font-family: gravelo;
  opacity: 0.7;
  padding-top: 10px;
}

/* sidebar */

.side-bar {
  position: fixed;
  width: 260px;
  height: auto;
  right: 55px;
  top: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-title {
  padding: 6px;
}
.side-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.side-bar ul li {
  list-style: none;
  padding: 6px;
  width: 100%;
}

.side-bar ul li a {
  color: var(--color-text);
  text-decoration: none;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}

.side-bar ul li a:hover {
  opacity: 1;
  font-size: 1.01em;
  transition: all 0.2s ease-in-out;
}

.reportDemo-video {
  width: 100%;
  height: 500px;
  border: none;
}
.video-link {
  color: white;
  text-decoration: none;
  text-align: right;
  opacity: 0.8;
}

@media (max-width: 1249px) {
  .content,
  .content-title {
    width: 80%;
  }
  .side-bar {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  article,
  .side-space-left {
    visibility: hidden;
  }

  .side-bar ul li a {
    transition: none;
  }

  .content-title {
    width: 100%;
    padding: 0;
  }

  .content-title h1 {
    font-size: 5em;
    text-align: left;
    padding-left: 20px;
  }

  .content {
    width: 100%;
    padding: 0 10px 0 20px;
  }
}
