html {
  scroll-padding-top: 250px;
  scroll-behavior: smooth;
  font-family: roboto;
}

body {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "header header header"
    "main main main";
  height: 200%;
  overflow: auto;
}

.background-video {
  opacity: 0.2;
  animation: none;
}

nav {
  background-color: black;
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* content */

.content-title {
  width: 50%;
  height: auto;
  padding-left: 15px;
}

.content-title h1 {
  font-size: 5em;
  font-weight: bolder;
}

.content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.content7 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px;
  padding: 20px 20px 10px 0px;
}

.content-heading {
  width: 100%;
  font-size: 2em;
  font-weight: bolder;
}

.content-text {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: lighter;
}

/* sidebar */

.side-bar {
  position: fixed;
  width: 260px;
  height: auto;
  right: 55px;
  top: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-title {
  padding: 6px;
}
.side-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.side-bar ul li {
  list-style: none;
  padding: 6px;
  width: 100%;
}

.side-bar ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}

.side-bar ul li a:hover {
  opacity: 1;
  font-size: 1.01em;
  transition: all 0.2s ease-in-out;
}

/* side left */

.side-space-left {
  position: fixed;
  width: 330px;
  height: 875px;
  top: 10%;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.side-space-left p {
  transform: rotate(-90deg);
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 35%;
  top: 10%;
  text-transform: uppercase;
}
.side-space-left p:first-child {
  width: 90%;
  height: 6%;
}
.side-space-left p:nth-child(2) {
  width: 150%;
  height: auto;
}

@media (max-width: 768px) {
  article,
  .side-space-left {
    visibility: hidden;
  }

  .side-bar ul li a {
    transition: none;
  }

  .content-title {
    width: 100%;
    padding: 0;
  }

  .content-title h1 {
    font-size: 5em;
    text-align: left;
    padding-left: 20px;
  }

  .content {
    width: 100%;
    padding: 0 10px 0 20px;
  }
}
